:root {
    /* Fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: "Poppins", sans-serif;
    --body-font: "DM Sans", sans-serif;
}

* {
    font-family: "DM Sans";
}

h1 {
    font: 700 var(--title-font-size) var(--title-font);
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

/* NavBar */
#navbar img {
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a {
    font-size: 15px;
    color: #757575;
}

#navbar a:hover {
    color: #f2a340;
}

/* Search Container */

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* Events List */

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #ccc;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Footer */

footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
