:root {
    /* Fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: "Poppins", sans-serif;
    --body-font: "DM Sans", sans-serif;
}

* {
    font-family: "DM Sans";
}

h1 {
    font: 700 var(--title-font-size) var(--title-font);
}

#navbar img {
    width: 50px;
}
